<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.PT.dao.OrderInfoMapper">
    <resultMap id="OrderInfoMapper" type="map">
        <result property="orderId" column="order_id"/>
        <result property="driverName" column="driver_name"/>
        <result property="projectDescp" column="project_descp"/>
        <result property="projectType" column="project_type"/>
        <result property="state" column="state"/>
        <result property="orderedAt" column="order_ordered_at" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="OrderPriceMap" type="map">
        <result property="id" column="id"/>
        <result property="price" column="project_price"/>
    </resultMap>
    <select id="selectOrderFromViewByOrderID" parameterType="java.lang.String" resultMap="OrderPriceMap">
        select id, project_price
        from order_info_v
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <select id="getGeneratedOrderId" parameterType="map" statementType="CALLABLE" resultType="map">
        {
        call genBillsNoPROC(
        #{tableName,mode=IN,jdbcType=VARCHAR},
        #{colName,mode=IN,jdbcType=VARCHAR},
        #{billsNoResult,mode=OUT,jdbcType=VARCHAR}
        )
        }
    </select>
    <select id="selectOrderInfoByFactor" resultMap="OrderInfoMapper" parameterType="map">
        select
        order_id , order_status state, date_format(order_ordered_at ,'%Y-%m-%d') order_ordered_at,
        driver_name ,project_descp, project_type
        from order_info_v
        where user_id = #{map.userId,jdbcType=INTEGER}
        and order_type = #{map.orderType,jdbcType=VARCHAR} and order_status <![CDATA[!=]]> 2
        <if test="map.content != null and map.content != '' " >
            and ( order_id like '%${map.content}%' or project_type like '%${map.content}%'
                  or project_descp like '%${map.content}%' or driver_name like '${map.content}%')
        </if>
        <if test="map.fromDate != null and map.toDate != null ">
            and order_ordered_at BETWEEN #{map.fromDate,jdbcType=TIMESTAMP} and #{map.toDate,jdbcType=TIMESTAMP}
        </if>
        order by order_id desc
    </select>
    <select id="countOrderInfoByFactor" resultType="java.lang.Integer" parameterType="map">
        select
        count(*)
        from order_info_v
        where user_id = #{map.userId,jdbcType=INTEGER}
        and order_type = #{map.orderType,jdbcType=VARCHAR} and order_status <![CDATA[!=]]> 2
        <if test="map.content != null and map.content != '' " >
            and ( order_id like '%${map.content}%' or project_type like '%${map.content}%'
            or project_descp like '%${map.content}%' or driver_name like '${map.content}%')
        </if>
        <if test="map.fromDate != null and map.toDate != null ">
            and order_ordered_at BETWEEN #{map.fromDate,jdbcType=TIMESTAMP} and #{map.toDate,jdbcType=TIMESTAMP}
        </if>
        order by order_id desc
    </select>
    <select id="getIdByProjectType" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id
        from ykat_projects
        where ykat_projects.type = #{projectType,jdbcType=VARCHAR}
    </select>
    <select id="getStatusByOrderId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select status from ykat_orders where order_id = #{orderId,jdbcType=VARCHAR}
    </select>
</mapper>