<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.PT.dao.SetAccRecInfoMapper" >
    <resultMap id="BaseResultMap" type="com.PT.bean.SetAccRecInfoBean" >
        <result column="set_acc_id" property="setAccId" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
        <result column="driver_phone" property="driverPhone" jdbcType="VARCHAR" />
        <result column="trade_money" property="tradeMoney" jdbcType="INTEGER" />
        <result column="trade_at" property="tradeAt" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="selectByFactors" resultMap="BaseResultMap" parameterType="map" >
        select set_acc_id, company_name, driver_name, driver_phone, trade_money, traded_at
        from ykat_settle_account_records inner join ykat_orders on ykat_settle_account_records.order_id = ykat_orders.id
        inner join ykat_drivers on driver_id = ykat_drivers.id
        inner join ykat_stores on store_id = ykat_stores.id
        where user_id = #{map.userId,jdbcType=INTEGER}
        <if test="map.str != null and map.str != ''" >
            and (set_acc_id like '%${map.str}%' or driver_phone like '%${map.str}%' or driver_name like '%${map.str}%')
        </if>
    </select>
    <select id="countByFactors" resultType="java.lang.Integer" parameterType="map" >
        select count(*)
        from ykat_settle_account_records inner join ykat_orders on ykat_settle_account_records.order_id = ykat_orders.id
        inner join ykat_drivers on driver_id = ykat_drivers.id
        inner join ykat_stores on store_id = ykat_stores.id
        where user_id = #{map.userId,jdbcType=INTEGER}
        <if test="map.str != null and map.str != ''" >
            and (set_acc_id like '%${map.str}%' or driver_phone like '%${map.str}%' or driver_name like '%${map.str}%')
        </if>
    </select>
</mapper>