<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.PT.dao.YkatCommonUtilMapper">
    <select id="generateAutoIncrementId" parameterType="map" statementType="CALLABLE" resultType="map">
        {
          call genBillsNoPROC(
              #{tableName,mode=IN,jdbcType=VARCHAR},
              #{colName,mode=IN,jdbcType=VARCHAR},
              #{billsNoResult,mode=OUT,jdbcType=VARCHAR}
          )
        }
    </select>
    <select id="getCurrentDepositByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select deposit from ykat_stores where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="getStoreIdByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT id from ykat_stores where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="getRoleByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT role from ykat_users where id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>
